/*********
MARK RESET
**********/

body {
    padding: 0;
    margin: 0;
}

/*********
MARK BANNER
**********/

.banner {
    background: hotpink url("../img/ban.jpg") left center no-repeat;
    background-size: cover;
    min-width: 100%;
    height: 500px;
    text-align: center;
}